@import '/src/styles/index';

.profileImage {
  width: 96px;
  margin: 40px auto 16px;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.displayName {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  input {
    @include body3;
    padding: 4px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $LINE02;
  }
}

.myWritings {
  margin: 32px 64px;

  dl {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    margin-bottom: 20px;
    background-color: $SURFACE;
    border-radius: 12px;

    dt {
      margin-bottom: 8px;
    }

    .active {
      color: $BLUE02;
    }
  }
}

.editInfo {
  margin-top: 40px;

  h4 {
    @include body7;
    padding: 8px 20px;
    color: $TITLE02;
    border-bottom: 1px solid $LINE02;
  }

  ul {
    @include body8;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: space-between;
      padding: 20px 16px;
    }
  }
}
