@import '/src/styles/index';

$MAIN_WIDTH: 468px;
$FOOTER_HEIGHT: 56px;

.container {
  max-width: $MAIN_WIDTH;
  min-height: calc(100vh - $FOOTER_HEIGHT);
  margin: 0 auto;
  border-right: 1px solid $LINE02;
  border-left: 1px solid $LINE02;
}

footer {
  position: sticky;
  bottom: 0;
  left: calc((100vw - $MAIN_WIDTH) / 2);
  z-index: $GNB;
  max-width: $MAIN_WIDTH;
  height: $FOOTER_HEIGHT;
  background-color: $WHITE;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 10%);
}
