@import '/src/styles/index';

.container {
  padding: 0 20px;
}

.tags {
  display: flex;
  gap: 8px;

  .tag {
    @include body4;
    padding: 4px 16px;
    background-color: $SURFACE;
    border: 1px solid $BODY03;
    border-radius: 16px;

    &.active {
      background-color: $BLUE03;
      border-color: $BLUE03;
    }
  }
}

.createForm {
  padding: 16px 0;

  textarea {
    width: 100%;
    height: 30vh;
    margin-bottom: 16px;
    resize: none;
    border: none;
    border-bottom: 1px solid $LINE03;
  }

  .attachment {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    img {
      width: 64px;
    }
  }

  .addImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 1px solid $LINE01;
    border-radius: 4px;

    svg {
      width: 36px;
      height: 36px;
      text-align: center;
    }
  }
}
