$PRIMARY01: #23e2e2;
$PRIMARY02: #00a4a4;
$PRIMARY03: #00d9d9;
$PRIMARY04: #4be8e8;
$PRIMARY05: #79eeee;

$BLUE01: #61cff2;
$BLUE02: #0eb2e5;
$BLUE03: #a3e9ff;
$BLUE04: #dcf7ff;

$TITLE01: #212121;
$TITLE02: #333333;

$BODY01: #666666;
$BODY02: #888888;
$BODY03: #999999;

$LINE01: #c5c5c5;
$LINE02: #e5e5e5;
$LINE03: #ebebeb;

$SURFACE: #f8f8f8;
$BACKGROUND: #ffffff;

$APP_BACKGROUND: #c0f0f0;
