$PRIMARY: #586cf5;
$SECONDARY_01: #e5f4fd;
$SECONDARY_02: #ea3a4b;

$GRAPH_01: #4fadf7;
$GRAPH_02: #85da47;
$GRAPH_03: #ac8af8;

$BG_G: #f6f7f8;

$WHITE: #ffffff;
$BLACK: #000000;

$GRAY_50: #edeff1;
$GRAY_100: #d1d8dc;
$GRAY_300: #94a2ad;
$GRAY_800: #3a474e;
