@import '/src/styles/index';

.header {
  position: relative;
  padding-bottom: 8px;
  margin: 20px 0;
  border-bottom: 1px solid $SURFACE;

  .title {
    @include heading3;
    text-align: center;
    background-color: $BACKGROUND;
  }

  .backBtn {
    position: absolute;
    top: 12px;
    left: 16px;
  }

  .children {
    position: absolute;
    top: 12px;
    right: 16px;
  }
}
