@mixin heading1() {
  font-size: $font-size-heading1;
  font-weight: $font-weight-heading;
  line-height: $line-height;
}

@mixin heading2() {
  font-size: $font-size-heading2;
  font-weight: $font-weight-heading;
  line-height: $line-height;
}

@mixin heading3() {
  font-size: $font-size-heading3;
  font-weight: $font-weight-heading;
  line-height: $line-height;
}

@mixin heading4() {
  font-size: $font-size-heading4;
  font-weight: $font-weight-heading;
  line-height: $line-height;
}

@mixin heading5() {
  font-size: $font-size-heading5;
  font-weight: $font-weight-heading;
  line-height: $line-height;
}

@mixin body1() {
  font-size: $font-size-body1;
  font-weight: $font-weight-regular-1234;
  line-height: $line-height;
}

@mixin body2() {
  font-size: $font-size-body2;
  font-weight: $font-weight-regular-1234;
  line-height: $line-height;
}

@mixin body3() {
  font-size: $font-size-body3;
  font-weight: $font-weight-regular-1234;
  line-height: $line-height;
}

@mixin body4() {
  font-size: $font-size-body4;
  font-weight: $font-weight-regular-1234;
  line-height: $line-height;
}

@mixin body5() {
  font-size: $font-size-body5;
  font-weight: $font-weight-regular-5678;
  line-height: $line-height;
}

@mixin body6() {
  font-size: $font-size-body6;
  font-weight: $font-weight-regular-5678;
  line-height: $line-height;
}

@mixin body7() {
  font-size: $font-size-body7;
  font-weight: $font-weight-regular-5678;
  line-height: $line-height;
}

@mixin body8() {
  font-size: $font-size-body8;
  font-weight: $font-weight-regular-5678;
  line-height: $line-height;
}

@mixin flag() {
  font-size: $font-size-flag;
  font-weight: $font-weight-flag;
  line-height: $line-height;
}
