@import '/src/styles/index';

.postsFeed {
  h1 {
    @include heading1;
    text-align: center;
    background-color: $BACKGROUND;
  }
  max-width: 468px;
  margin: 10px auto;
  background-color: $SURFACE;
}
